---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: Date;
    heroImage?: string;
    buyURL: string;
  };
}

const {
  content: { title, description, heroImage, buyURL },
} = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class='min-h-screen bg-slate-100'>
    <Header />
    <main>
      <article class='p-10 mx-auto prose md:prose-xl'>
        <h1>{title}</h1>
        <p>{description}</p>
        {heroImage && <img class='mx-auto' src={heroImage} alt='' />}
        <slot />
        <a
          href={buyURL}
          class='flex justify-center mx-auto p-2 bg-red-salsa hover:bg-imperial-red w-36 rounded-full text-white no-underline'
          >Download</a
        >
      </article>
    </main>
    <Footer />
  </body>
</html>
